<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>backgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmAIOtrCw+g9nYWD4Bhg==
		</data>
		<key>borderColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmAIOpqKg9g+Hg4D0Bhg==
		</data>
		<key>dividerLineColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg83MTD6DzcxMPoPNzEw+AYY=
		</data>
		<key>imagePrefix</key>
		<string>dark</string>
		<key>name</key>
		<string>subdued</string>
		<key>resultShortcutColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmAYP+/X0/g/r5eT+DmpmZPoY=
		</data>
		<key>resultSubtextColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg83MzD6DzczMPoPNzMw+g4XrET+G
		</data>
		<key>resultTextColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg/Py8j6DhIMDP4Pz8vI+g7geRT+G
		</data>
		<key>scrollbarColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg5OSEj+Dk5ISP4OTkhI/AYY=
		</data>
		<key>searchFieldBackgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg8HAQDyDwcBAPoPx8HA+AYY=
		</data>
		<key>searchFieldTextColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg8PCQj+D0tFRP4POzU0/AYY=
		</data>
		<key>selectedResultBackgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg8HAQDyDwcBAPoPx8HA+AYY=
		</data>
		<key>selectedResultForeground</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg+3s7D6DoaAgP4PJyMg9AYY=
		</data>
		<key>selectedResultShortcutColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg8XERD6DoaAgP4Pa2Vk/AYY=
		</data>
		<key>selectedSubtextForeground</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg+3sbD6DsK8vP4OpqCg/g1yPAj+G
		</data>
		<key>uid</key>
		<string>alfred.theme.custom.7801864D-4370-4FCC-86F3-B41D87D8726A-43953-00003DA6A5FB2010</string>
	</dict>
</array>
</plist>
